[Unit]
Description=simple-vpn server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/
ExecStart=/usr/local/bin/simple-vpn server /etc/simple-vpn/server.cfg
KillMode=process
Restart=always
StartLimitInterval=2
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
